@import "variables.css";
@import "header.css";
@import "responsive.css";

body {
    min-width: 100%;
    color: var(--white);
    background: var(--white);
    display: flex;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 63px;
    letter-spacing: 0em;
    text-align: left;
}

p {
    font-family: Helvetica, serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;

    /* font-family: Inter;
    font-size: 15px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left; */
}