@import "variables.css";

.range_container {
    display: flex;
    flex-direction: column;
    width: 70%;
}

.sliders_control {
    position: relative;
    min-height: 10px;
}

.form_control {
    position: relative;
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    color: var(--font-color);
}

.form_control_container__temp {
    /* background-color: black; */
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    pointer-events: all;
    width: 10px;
    height: 10px;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    -webkit-appearance: none;
<<<<<<< HEAD
=======
    appearance: none;
>>>>>>> master
    pointer-events: all;
    width: 24px;
    height: 24px;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 0 0 1px #C6C6C6;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb:hover {
    background: #f7f7f7;
}

input[type=range]::-webkit-slider-thumb:active {
    box-shadow: inset 0 0 3px var(--white), 0 0 9px var(--white);
    -webkit-box-shadow: inset 0 0 3px var(--white), 0 0 9px var(--white);
}

input[type="number"] {
    color: var(--white);
    border-radius: 10%;
    background-color: #fafafa30;
    width: 50px;
    height: 30px;
    font-size: 15px;
    border: none;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: var(--secondary-color);
    pointer-events: none;
}

#fromSlider {
    height: 0;
    z-index: 1;
}